{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <ul>
        {% for stock in stock_list %}
            <li><a href="{% url 'data:view-chart' stock %}">{{ stock }}</a></li>
        {% endfor %}
    </ul>

<script>
    var stock_symbol = "{{ stock_symbol }}"

    async function getData() {
        let res = await fetch('/data/stock-data/?stock_symbol=' + stock_symbol);
        let data = await res.json();
        console.log(data)

        connectToStream()
    }

    function connectToStream() {
        var uri = '/stocks/' + encodeURIComponent(stock_symbol) + '/events/';
        var es = new EventSource(uri);


        es.onopen = function () {
            console.log('*** connected');

        };

        es.onerror = function () {
            console.log('*** connection lost, reconnecting...');
        };

        es.addEventListener('stock_updated', function (e) {
            const data = JSON.parse(e.data)
            console.log(data)
        });
    }

    getData()


</script>

</body>
</html>