{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<script>
    var stock_symbol = "{{ stock_symbol }}"

    async function getData() {
        let res = await fetch('/data/stock-data/?stock_symbol=' + stock_symbol);
        let data = await res.json();
        console.log(data)

        let res2 = await fetch('/data/stock-list/')
        let data2 = await res2.json()
        console.log(data2)

        connectToStream()
    }

    function connectToStream() {
        var uri = '/notification/';
        var es = new EventSource(uri);


        es.onopen = function () {
            console.log('*** notification connected');

        };

        es.onerror = function () {
            console.log('*** notification connection lost, reconnecting...');
        };

        es.addEventListener('stock_status_changed', function (e) {
            const data = JSON.parse(e.data)
            console.log(data)
        });


        var uri = '/stocks/' + encodeURIComponent(stock_symbol) + '/events/';
        var es2 = new EventSource(uri);


        es2.onopen = function () {
            console.log('*** stock connected');

        };

        es2.onerror = function () {
            console.log('*** stock connection lost, reconnecting...');
        };

        es2.addEventListener('stock_updated', function (e) {
            const data = JSON.parse(e.data)
            console.log(data)
        });
    }

    getData()


</script>

</body>
</html>